.image-container {
    display: flex;
    justify-content: space-between;
}

img {
    margin: 0;
    max-width: 25%;
}

body {background-color: #FFFAF0;}

.text-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.text {
    font-family: "Yanone Kaffeesatz", sans-serif;
    margin: 10px;
}

h2 {font-size: 4em;}
h3 {font-size: 2em;}
p {font-size: 1.2em;}

.text:first-of-type {
    margin-bottom: -5px;
}

.est {
    margin-top: -5px;
    font-size: 12px;
}
